<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miku.lab.dao.ArticleDao">


    <select id="getAllArticle" resultType="com.miku.lab.entity.Article" parameterType="com.miku.lab.entity.Article">
        select *from sys_article
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getAllArticleSort" resultType="com.miku.lab.entity.ArticleSort" parameterType="com.miku.lab.entity.ArticleSort">
        select *from sys_article_sort
        <where>
            del_flag=0
        </where>
    </select>


</mapper>
