<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miku.lab.dao.ArticleDao">


    <select id="getAllArticle" resultType="map">
        SELECT sys_article.*,sys_article_sort.sort_name
        FROM sys_article,sys_article_sort
        <where>
            sys_article.article_class=sys_article_sort.sort_id
            and sys_article.del_flag=0
            and sys_article_sort.del_flag=0
            and sys_article.valid_status=1
            and sys_article_sort.valid_status=1
        </where>
        order by sys_article.create_time desc
    </select>

    <select id="getPageArticle" resultType="map">
        SELECT sys_article.*,sys_article_sort.sort_name
        FROM sys_article,sys_article_sort
        <where>
            sys_article.article_class=sys_article_sort.sort_id
            and sys_article.del_flag=0
            and sys_article_sort.del_flag=0
            and sys_article.valid_status=1
            and sys_article_sort.valid_status=1
        </where>
        order by sys_article.create_time desc
    </select>

    <select id="getOneArticle" parameterType="String" resultType="map">
        select * from sys_article where article_code=#{article_code}
    </select>

    <select id="searchArticle" resultType="map" parameterType="map">
        SELECT sys_article.*,sys_article_sort.sort_name
        FROM sys_article,sys_article_sort
        <where>
            sys_article.article_class=sys_article_sort.sort_id
            <if test="titleValue != null">
                and ${titleKey} like concat('%',#{titleValue},'%')
            </if>
            <if test="actorValue != null">
                and ${actorKey} like concat('%',#{actorValue},'%')
            </if>
            <if test="classValue != null">
                and ${classKey} like concat('%',#{classValue},'%')
            </if>
            and sys_article.del_flag=0
            and sys_article_sort.del_flag=0
            and sys_article.valid_status=1
            and sys_article_sort.valid_status=1
        </where>
        order by sys_article.create_time desc
    </select>

    <insert id="addArticle" parameterType="map">
        insert into sys_article(
            article_code,
            article_class,
            article_title,
            article_actor,
            article_content,
            article_date,
            article_abstract,
            is_push,
            valid_status,
            creater,
            create_time,
            del_flag
        )value(
            #{article_code},
            #{article_class},
            #{article_title},
            #{article_actor},
            #{article_content},
            NOW(),
            #{article_abstract},
            1,
            #{valid_status},
            #{creater},
            NOW(),
            0
        )
    </insert>

    <update id="deleteArticle" parameterType="java.lang.String">
        update sys_article set del_flag=1 and del_time=NOW()
        <where>
            del_flag=0 and article_code in
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

    <update id="updateArticle" parameterType="map">
        update sys_article
        set article_class=#{article_class},
        article_title=#{article_title},
        article_actor=#{article_actor},
        article_content=#{article_content},
        article_date=#{article_date},
        article_abstract=#{article_abstract},
        valid_status=#{valid_status},
        updater=#{updater},
        update_time=NOW(),
    </update>

    <select id="getAllArticleSort" resultType="com.miku.lab.entity.ArticleSort" parameterType="com.miku.lab.entity.ArticleSort">
        select *from sys_article_sort
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getPageArticleSort" resultType="com.miku.lab.entity.ArticleSort" parameterType="map">
        select * from sys_article_sort where del_flag=0 limit #{page},#{limit}
    </select>

    <select id="getSortDetailById" resultType="com.miku.lab.entity.ArticleSort" parameterType="com.miku.lab.entity.ArticleSort">
        select * from sys_article_sort
        <where>
            sort_id=#{sortId} and del_flag=0
        </where>
    </select>

    <update id="updateSort" parameterType="map">
        update sys_article_sort
        set update_time=#{updateTime}
        <if test="sortId!=null and sortId!=''">
            ,sort_id=#{sortId}
        </if>
        <if test="sortName!=null and sortName!=''">
            ,sort_name=#{sortName}
        </if>
        <if test="remark!=null || remark!=''">
            ,remark=#{remark}
        </if>
        <if test="validStatus!=null and validStatus!=''">
            ,valid_status=#{validStatus}
        </if>

        <where>
            id=#{id}
        </where>
    </update>

    <insert id="addSort" parameterType="com.miku.lab.entity.ArticleSort">
        insert
        into sys_article_sort(sort_id,sort_name,remark,valid_status,
             creater,create_time,del_flag)
        values(
                #{sortId},#{sortName},#{remark},#{validStatus},
                #{creater},#{createTime},0
                )
    </insert>

    <update id="delSort" parameterType="com.miku.lab.entity.ArticleSort">
        update sys_article_sort
        set del_flag=1
        <where>
            sort_id = #{sortId}
        </where>
    </update>

    <select id="searchSort" resultType="com.miku.lab.entity.ArticleSort" parameterType="map">
        select *
        from sys_article_sort
        <where>
            locate(#{sort_id},sort_id)
            and locate(#{sort_name},sort_name)
            and del_flag=0
        </where>
        order by create_time desc
        limit #{page},#{limit}

    </select>

    <select id="getSearchPageSort" resultType="com.miku.lab.entity.ArticleSort" parameterType="map">
        select *
        from sys_article_sort
        <where>
            locate(#{key},${value}) and del_flag=0 limit #{page},#{limit}
        </where>
    </select>


</mapper>
