<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miku.lab.dao.MachineDao">

    <select id="loginVerify" resultType="com.miku.lab.entity.Machine" parameterType="com.miku.lab.entity.Machine">

    </select>

    <sql id="Base_Column_List">
        sort_id
    </sql>

    <sql id="Base_Table">
        sys_machine_sort
    </sql>


    <select id="getAllMachine" resultType="java.util.HashMap">
        SELECT DISTINCT sys_machine.*,img_url,is_tar,sort_id,sort_name
        from sys_machine,sys_machine_img,sys_machine_sort
        <where>
            sys_machine.img_code = sys_machine_img.img_code
            and sys_machine.class_code=sys_machine_sort.sort_id
            and sys_machine.del_flag=0
            and sys_machine_img.del_flag=0
            and sys_machine_sort.del_flag=0
        </where>
        order by sys_machine.create_time desc
    </select>

    <select id="getMachineCount" resultType="int">
        select COUNT(*) from sys_machine
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getAllMachineImg" resultType="com.miku.lab.entity.Machine_img" parameterType="com.miku.lab.entity.Machine">
        select *from sys_machine
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getPageMachine" resultType="java.util.HashMap" parameterType="int">
        SELECT DISTINCT sys_machine.*,img_url,is_tar,sort_id,sort_name
        from sys_machine,sys_machine_img,sys_machine_sort
        <where>
            sys_machine.img_code = sys_machine_img.img_code
            and sys_machine.class_code=sys_machine_sort.sort_id
            and sys_machine.del_flag=0
            and sys_machine_img.del_flag=0
            and sys_machine_sort.del_flag=0
        </where>
        order by sys_machine.create_time desc
        limit #{page},#{limit}
    </select>

    <select id="getPageMachineSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="map">
        select * from sys_machine_sort where del_flag=0 limit #{page},#{limit}
    </select>

    <select id="getAllMachineSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="map">
        select * from sys_machine_sort where del_flag=0 and valid_status=1
    </select>

    <select id="getSortDetailById" resultType="com.miku.lab.entity.Machine_sort" parameterType="com.miku.lab.entity.Machine_sort">
        select * from sys_machine_sort
        <where>
            sort_id=#{sortId} and del_flag=0
        </where>
    </select>

    <update id="updateMachineSort" parameterType="map">
        update sys_machine_sort
        set
        update_time=#{updateTime}
        <if test="sortId!=null and sortId!=''">
            ,sort_id=#{sortId}
        </if>
        <if test="sortName!=null and sortName!=''">
            ,sort_name=#{sortName}
        </if>
        <if test="remark!=null || remark!=''">
            ,remark=#{remark}
        </if>
        <if test="validStatus!=null and validStatus!=''">
            ,valid_status=#{validStatus}
        </if>

        <where>
            id=#{id}
        </where>
    </update>

    <insert id="addMachineSort" parameterType="com.miku.lab.entity.Machine_sort">
        insert
        into sys_machine_sort(sort_id,sort_name,remark,valid_status,
             creater,create_time,del_flag)
        values(
                #{sortId},#{sortName},#{remark},#{validStatus},
                #{creater},#{createTime},0
                )
    </insert>

    <update id="delMachineSort" parameterType="map">
        update sys_machine_sort
        set del_flag=1
        <where>
            <include refid="Base_Column_List"/> = #{sortId}
        </where>
    </update>

    <select id="searchSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="com.miku.lab.entity.Machine_sort">
        select *
         from sys_machine_sort
        <where>
            locate(#{key},${value}) and del_flag=0
        </where>
    </select>

    <select id="getSearchPageSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="map">
        select *
        from sys_machine_sort
        <where>
            locate(#{key},${value}) and del_flag=0 limit #{page},#{limit}
        </where>
    </select>

    <insert id="addMachine" parameterType="map">
        insert into sys_machine(
            machine_id,
            img_code,
            class_code,
            machine_name,
            machine_locate,
            machine_count,
            machine_function,
            machine_specify,
            machine_abstract,
            machine_remark,
            machine_supplier,
            machine_contacter,
            machine_contacter_phone,
            machine_life,
            bookable_count,
            unit_price,
            buy_date,
            total_money,
            factory,
            quality_time,
            valid_status,
            is_check,
            creater,
            create_time,
            del_flag
        )values(
            #{machine_id},
            #{img_code},
            #{class_code},
            #{machine_name},
            #{machine_locate},
            #{machine_count},
            #{machine_function},
            #{machine_specify},
            #{machine_abstract},
            #{machine_remark},
            #{machine_supplier},
            #{machine_contacter},
            #{machine_contacter_phone},
            #{machine_life},
            #{bookable_count},
            #{unit_price},
            #{buy_date},
            #{total_money},
            #{factory},
            #{quality_time},
            #{valid_status},
            #{is_check},
            #{creater},
            NOW(),
            0
        )
    </insert>

    <update id="updateMachine" parameterType="map">
        update sys_machine set
            class_code=#{class_code},
            machine_name=#{machine_name},
            machine_locate=#{machine_locate},
            machine_count=#{machine_count},
            machine_function=#{machine_function},
            machine_specify=#{machine_specify},
            machine_abstract=#{machine_abstract},
            machine_remark=#{machine_remark},
            machine_supplier=#{machine_supplier},
            machine_contacter=#{machine_contacter},
            machine_contacter_phone=#{machine_contacter_phone},
            machine_life=#{machine_life},
            bookable_count=#{bookable_count},
            unit_price=#{unit_price},
            buy_date=#{buy_date},
            total_money=#{total_money},
            factory=#{factory},
            quality_time=#{quality_time},
            valid_status=#{valid_status},
            updater=#{updater},
            update_time=NOW()
        where id=#{id}
    </update>

    <update id="updateMachineCheck" parameterType="map">
        update sys_machine set
        is_check=#{is_check},updater=#{updater},update_time=NOW()
        <where>
            del_flag=0 and id=#{id}
        </where>
    </update>

    <select id="searchMachine" parameterType="java.util.HashMap" resultType="map">
        SELECT DISTINCT sys_machine.*,img_url,is_tar,sort_id,sort_name
        from sys_machine,sys_machine_img,sys_machine_sort
        <where>
            sys_machine.img_code = sys_machine_img.img_code
            and sys_machine.class_code=sys_machine_sort.sort_id
            and sys_machine.del_flag=0
            and sys_machine_img.del_flag=0
            and sys_machine_sort.del_flag=0
            and ${baseInfoKey} like concat('%',#{baseInfoValue},'%')
            <if test="statusValue != null">
                and ${statusKey} = #{statusValue}
            </if>
        </where>
        order by sys_machine.create_time desc
        limit #{p},#{m}
    </select>

    <select id="getSearchMachineCount" parameterType="java.util.HashMap" resultType="int">
        SELECT DISTINCT COUNT(*)
        from sys_machine,sys_machine_img,sys_machine_sort
        <where>
            sys_machine.img_code = sys_machine_img.img_code
            and sys_machine.class_code=sys_machine_sort.sort_id
            and sys_machine.del_flag=0
            and sys_machine_img.del_flag=0
            and sys_machine_sort.del_flag=0
            and ${baseInfoKey} like concat('%',#{baseInfoValue},'%')
            <if test="statusValue != null">
                and ${statusKey} = #{statusValue}
            </if>
        </where>
    </select>

    <update id="deleteMachine" parameterType="java.lang.String">
        update sys_machine
        set del_flag=1,del_time=NOW()
        <where>
            del_flag=0 and id in
            <foreach collection="array" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>

</mapper>
