<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miku.lab.dao.MachineDao">

    <select id="loginVerify" resultType="com.miku.lab.entity.Machine" parameterType="com.miku.lab.entity.Machine">

    </select>

    <sql id="Base_Column_List">
        sort_id
    </sql>

    <sql id="Base_Table">
        sys_machine_sort
    </sql>


    <select id="getAllMachine" resultType="com.miku.lab.entity.Machine" parameterType="com.miku.lab.entity.Machine">
        select *from sys_machine
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getAllMachineImg" resultType="com.miku.lab.entity.Machine_img" parameterType="com.miku.lab.entity.Machine">
        select *from sys_machine
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getPageMachine" resultType="com.miku.lab.entity.Machine" parameterType="map">
        select * from (select * from sys_machine where del_flag=0) derived_machine limit #{page},#{limit}
    </select>

    <select id="getPageMachineSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="map">
        select * from sys_machine_sort where del_flag=0 limit #{page},#{limit}
    </select>

    <select id="getAllMachineSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="map">
        select * from sys_machine_sort where del_flag=0
    </select>

    <select id="getSortDetailById" resultType="com.miku.lab.entity.Machine_sort" parameterType="com.miku.lab.entity.Machine_sort">
        select * from sys_machine_sort
        <where>
            sort_id=#{sortId} and del_flag=0
        </where>
    </select>

    <update id="updateMachineSort" parameterType="map">
        update sys_machine_sort
        set
        update_time=#{updateTime}
        <if test="sortId!=null and sortId!=''">
            ,sort_id=#{sortId}
        </if>
        <if test="sortName!=null and sortName!=''">
            ,sort_name=#{sortName}
        </if>
        <if test="remark!=null || remark!=''">
            ,remark=#{remark}
        </if>
        <if test="validStatus!=null and validStatus!=''">
            ,valid_status=#{validStatus}
        </if>

        <where>
            id=#{id}
        </where>
    </update>

    <insert id="addMachineSort" parameterType="com.miku.lab.entity.Machine_sort">
        insert
        into sys_machine_sort(sort_id,sort_name,remark,valid_status,
             creater,create_time,del_flag)
        values(
                #{sortId},#{sortName},#{remark},#{validStatus},
                #{creater},#{createTime},0
                )
    </insert>

    <update id="delMachineSort" parameterType="map">
        update sys_machine_sort
        set del_flag=1
        <where>
            <include refid="Base_Column_List"/> = #{sortId}
        </where>
    </update>

    <select id="searchSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="com.miku.lab.entity.Machine_sort">
        select *
         from sys_machine_sort
        <where>
            locate(#{key},${value}) and del_flag=0
        </where>
    </select>

    <select id="getSearchPageSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="map">
        select *
        from sys_machine_sort
        <where>
            locate(#{key},${value}) and del_flag=0 limit #{page},#{limit}
        </where>
    </select>

</mapper>
