<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miku.lab.dao.MachineDao">

    <select id="loginVerify" resultType="com.miku.lab.entity.Machine" parameterType="com.miku.lab.entity.Machine">

    </select>


    <select id="getAllMachine" resultType="com.miku.lab.entity.Machine" parameterType="com.miku.lab.entity.Machine">
        select *from sys_machine
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getAllMachineImg" resultType="com.miku.lab.entity.Machine_img" parameterType="com.miku.lab.entity.Machine">
        select *from sys_machine
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getPageMachine" resultType="com.miku.lab.entity.Machine" parameterType="map">
        select * from (select * from sys_machine where del_flag=0) derived_machine limit #{page},#{limit}
    </select>

    <select id="getPageMachineSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="map">
        select * from sys_machine_sort limit #{page},#{limit}
    </select>

    <select id="getAllMachineSort" resultType="com.miku.lab.entity.Machine_sort" parameterType="map">
        select * from sys_machine_sort
    </select>

    <select id="getSortDetailById" resultType="com.miku.lab.entity.Machine_sort" parameterType="com.miku.lab.entity.Machine_sort">
        select * from sys_machine_sort
        <where>
            sort_id=#{sortId} and del_flag=0
        </where>
    </select>

    <update id="updateMachineSort" parameterType="map">
        update sys_machine_sort
        set sort_id=#{sortId},sort_name=#{sortName},remark=#{remark},valid_status=#{validStatus}
        <where>
            id=#{id}
        </where>
    </update>

</mapper>
