<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miku.lab.dao.SystemOperationDao">



    <select id="getAllOperation" resultType="com.miku.lab.entity.SystemOperation" parameterType="com.miku.lab.entity.SystemOperation">
        select *from log_system_operation where del_flag=0
    </select>

    <select id="getPageOper" resultType="com.miku.lab.entity.SystemOperation" parameterType="map">

        select *
        from log_system_operation
        <where>
         oper_time BETWEEN date_sub(Now(),interval (
		        SELECT value FROM sys_config where code='search_operation_month') month) and now()
        and del_flag=0
        </where>
		ORDER BY log_system_operation.oper_time DESC
        limit #{page},#{limit}
    </select>

    <select id="searchOper" resultType="com.miku.lab.entity.SystemOperation" parameterType="map">
        select *
        from log_system_operation
        <where>
            locate(#{ip_address},ip_address)
            and locate(#{opertor},opertor)
            <if test="is_ok!=null and is_ok!=''">
                and is_ok = #{is_ok}
            </if>
            and del_flag=0
             and oper_time BETWEEN date_sub(Now(),interval (
                SELECT value FROM sys_config where code='search_operation_month') month) and now()
                ORDER BY log_system_operation.oper_time DESC
        </where>
    </select>

    <select id="getSearchPageOper" resultType="com.miku.lab.entity.SystemOperation" parameterType="map">
        select *
        from log_system_operation
        <where>
            locate(#{ip_address},ip_address)
            and locate(#{opertor},opertor)
            <if test="is_ok!=null and is_ok!=''">
                and is_ok = #{is_ok}
            </if>
            and del_flag=0
            and oper_time BETWEEN date_sub(Now(),interval (
            SELECT value FROM sys_config where code='search_operation_month') month) and now()
            ORDER BY log_system_operation.oper_time DESC
        </where>
        limit #{page},#{limit}
    </select>

    <update id="delOper" parameterType="com.miku.lab.entity.SystemOperation">
        update log_system_operation
        set del_flag=1
        <where>
            id = #{id}
        </where>
    </update>

    <insert id="addOper" parameterType="com.miku.lab.entity.SystemOperation">
        insert
        into log_system_operation(
                ip_address,module_code,opertor,oper_time,
                oper_type,oper_content,is_ok,del_flag,module_name,resp_result
                )
        values(
                #{ip_address},#{module_code},#{operator},#{oper_time},
                #{oper_type},#{oper_content},#{is_ok},0,#{moduleName},#{respResult}
                )
    </insert>


</mapper>
