<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miku.lab.dao.TimerTaskDao">

    <select id="getExpireApplication" resultType="map">
        SELECT sys_order_check.*,email from sys_order_check,wx_booking_user
        <where>
            sys_order_check.openId=wx_booking_user.openId
            and end_time&lt;=(select NOW())
            and sys_order_check.del_flag=0
            and check_status in(0,1)
        </where>
        order by sys_order_check.create_time desc
    </select>

    <update id="freshBooking" parameterType="map">
        update sys_order_check
        set check_status=3
        <where>
            id=#{id}
        </where>
    </update>

    <insert id="addBookingLog" parameterType="map">
        insert into sys_booking_log(
            booking_code,
            booking_checker,
            check_time,
            check_result,
            is_push,
            valid_status,
            creater,
            create_time,
            del_flag
        )values(
            #{booking_code},
            #{checker},
            NOW(),
            0,
            0,
            1,
            #{checker},
            NOW(),
            0
        )
    </insert>

    <select id="getExpireMachine" resultType="map">
        SELECT sys_order_check.*,machine_code,machine_number from sys_order_check,wx_booking_machine
        <where>
            end_time &lt;=NOW()
            and wx_booking_machine.del_flag=0
            and wx_booking_machine.valid_status=1
            and check_status=3
            and sys_order_check.booking_code=wx_booking_machine.booking_code
        </where>
    </select>

    <update id="freshBookingMachine" parameterType="String">
        update sys_machine
        set bookable_count=bookable_count+#{machine_number},update_time=NOW()
        <where>
            machine_id=#{machine_code}
        </where>
    </update>

    <select id="getExpireLab" resultType="map">
        SELECT sys_order_check.* from sys_order_check
        where end_time&lt;=NOW()
        and check_status in(2,3)
        and valid_status=1
    </select>

    <update id="freshBookingLab" parameterType="String">
        update sys_lab_info
        set lab_status=0,update_time=NOW()
        <where>
            lab_id='3' and valid_status=1
        </where>
    </update>

    <update id="invalidOrderCheck" parameterType="BigInteger" >
        update sys_order_check
        set valid_status=0,update_time=NOW()
        where id=#{id} and valid_status=1
    </update>

</mapper>