<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miku.lab.dao.UserInfoDao">

    <select id="loginVerify" resultType="com.miku.lab.entity.UserInfo" parameterType="com.miku.lab.entity.UserInfo">
        select *from sys_user
        <where>
            user_id = #{userId} and password = #{password} and del_flag=0
        </where>
    </select>


    <select id="getAllUserInfo" resultType="com.miku.lab.entity.UserInfo" parameterType="com.miku.lab.entity.UserInfo">
        select *from sys_user
        <where>
            del_flag=0
        </where>
    </select>

    <select id="getOneUser" resultType="com.miku.lab.entity.UserInfo" parameterType="String">
        select *from sys_user
        <where>
            user_id = #{userId} and del_flag=0
        </where>
    </select>

</mapper>
